



.card-container
  a(href='/event/' + card.eId)
    .card-img-container
      img(src=card.photo_card_url, alt=card.title class="card-image")
    .card-body-container
      span.
      h5.card-title #{card.title}
  a(href="/profile/" + card.uId)
    .card-user-info-container 
      img(src=card.photo_url_thumb, alt=card.username class="rounded")
      span.card-hosted Hosted by
      p.card-username #{card.firstname} #{card.lastname}
    