
extend base.pug
block content
  include header
  .event-content-container
    .event-info-container.section
      .event-image-container
        img(src=event.photo_original_url, alt=event.title)
      h3.event-title #{event.title}
      .event-date.mb 
        i.far.fa-calendar-alt.event-icon
        span #{event.date}
      .event-time.mb 
        i.far.fa-clock.event-icon
        span #{event.time}
      .event-location.mb 
        i.fas.fa-map-marker-alt.event-icon
        span #{event.country}, #{event.city},#{event.local_address}
      h4.event-details Details  
      p.event-description #{event.description}

    .event-comments-container.section
      p Responses
      if user != null
        .event-comment-input-container
          input(type="text" name="comment" placeholder="Input comment" class="comment-input" id="comment-input") 
          .comment-btn    
            i.fas.fa-plus.add-comment-button
      .event-comments-container
        ul.list-container#list-container

      
    .event-recomendation-container

    script(src="/js/comments.js")
  