

extends base
block content
  div(class='register-container')
    h3 Join Evoo
    p Already have an account? 
      a(href="/login") Login
    if message.length > 0
      p #{message}
    form(
          class="register-form"
          action="http://localhost:3000/api/v1/auth/registration"
          id="register-form"
          method="post"
          enctype="multipart/form-data"
        )

      input( type="text" name="firstname" placeholder="Firstname" id="login-username" )
      input( type="text" name="lastname" placeholder="Lastname" id="login-username" )
      input( type="email" name="email" placeholder="Email" id="login-username" )
      input( type="text" name="username" placeholder="Username" id="login-username" )
      input( type="text" name="password" placeholder="Password" id="login-password" )
      input( type="file" name="avatar" )  
      input( type="submit" name="submit-btn"  id="login-submit-btn" value="Join" )  
      